<style media="screen">
  body {
    width:100%;
    background-color: rgba(79, 192, 255, .9);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<!-- <div class="wrapper">


<form class="addIdea" action="/ideas/{{id}}/{{title}}/update" method="post">
  <div class="singleViewdiv">






  <div class="audience">
    <div class="audience1">
      <label for="market">What Is Your Market Or Audience:</label>
      <input type="text" name="market" value="{{market}}" placeholder="market opportunities...">
    </div>
    <div class="audience1">
      <label for="valueAdd">What Is Your Value Add:</label>
      <input type="text" name="valueAdd" value="{{valueAdd}}" placeholder="value add...">
    </div>
  </div>

  <div class="competition">
    <div class="competition1">
      <label for="competition">What Or Who Is Your Competition:</label>
      <input type="text" name="competition" value="{{competition}}" placeholder="enter competition...">
  </div>
  <div class="competition1">
    <label for="compImprove">How to Improve on the competition</label>
    <input type="text" name="compImprove" value="{{compImprove}}" placeholder="We are 10X faster at half the cost">
  </div>
  <div class="competition1">
    <label for="techUsed">What Technology Are You Using?</label>
    <input type="text" name="techUsed" value="{{techUsed}}" placeholder="enter details">
  </div>
</div>


  <div class="challenges_resources">
    <div class="cr">
      <label for="challenges">What Challneges Will You Face?</label>
      <input type="text" name="challenges" value="{{challenges}}" placeholder="enter details">
    </div>
    <div class="cr">
      <label for="resources">List Any Helpful Resources Here:</label>
      <input type="text" name="resources" value="{{resources}}" placeholder="enter details">
    </div>
  </div>

<div class="purpose">
  <div class="purpose1">
    <label for="purpose">What Is Your Inspiration For This Idea</label>
    <input type="text" name="purpose" value="{{purpose}}" placeholder="enter details">
  </div>
  <div class="purpose1">
    <label for="research">Follow up Research</label>
    <input type="text" name="research" value="{{research}}" placeholder="enter details">
  </div>
  <div class="purpose1">
    <label for="links">Valid Links</label>
    <input type="text" name="links" value="{{links}}" placeholder="enter details">
  </div>
</div>

  <div class="stage_date">
    <div class="">
      <label for="stage">What stage are you in the hatch?</label>
      <input type="text" placeholder="Ideation Phase" name="stage" value="{{stage}}">
    </div>
    <div>
      {{date}}
    </div>
  </div> -->

  <div class="singleViewdiv">

    <div class="titleDiv">
      <label for="title">Idea Title</label>
      <input type="text" name="title" value="{{title}}" placeholder="Enter your idea title">
    </div>

    <div class="contentDiv">
      <div class="set1">
        <div class="content1">
          <label class="content1" for="description"></label>
        </div>
        <div class="content2">
          <input lass="content1" type="text" name="description" value="{{description}}" placeholder="enter idea details">
        </div>
      </div>
        <div class="set1">
          <div class="content1">
            <label for="notes">Add Some Notes:</label>
          </div>
          <div class="content2">
            <input type="text" name="notes" value="{{notes}}" placeholder="enter idea notes">
          </div>
      </div>
    </div>

    <div class="levels_features">
      <div class="set">
        <div class="feature1">
          <label for="excitement ">Excitement Level</label>
        </div>
        <div class="feature">
          <select class="excitement" name="excitement" value="{{excitement}}">
            <option value="Somewhat Excited">Somewhat Excited</option>
            <option value="Kind Of Excited">Kind Of Excited</option>
            <option value="Excited" selected>Excited</option>
            <option value="Very Excited">Very Excited</option>
            <option value="Extremely Excited">Extremely Excited</option>
          </select>
        </div>
      </div>
      <div class="set">
        <div class="feature1">
          <label for="difficulty ">Difficulty Level:</label>
        </div>
        <div class="feature">
          <select class="difficulty" name="difficulty" value="{{difficulty}}">
            <option value="Very Easy">Very Easy</option>
            <option value="Easy">Easy</option>
            <option value="Intermediate" selected>Intermediate</option>
            <option value="Difficult">Difficult</option>
            <option value="Very Difficult">Very Difficult</option>
          </select>
        </div>
      </div>
      <div class="set">
        <div class="feature1">
          <label for="defFeatures">Definite Features:</label>
        </div>
        <div class="feature">
            <input type="text" name="defFeatures" value="{{defFeatures}}" placeholder="enter idea features...">
        </div>
      </div>
      <div class="set">
        <div class="feature1">
          <label for="posFeatures">Possible Features:</label>
        </div>
        <div class="feature">
          <input type="text" name="posFeatures" value="{{posFeatures}}" placeholder="enter possible features...">
        </div>
      </div>
    </div>

    <div class="audience">
      <div class="audience1">
        <label for="market">Who is The Target Audience / Market?</label>
          <input type="text" name="market" value="{{market}}" placeholder="market opportunities...">
      </div>
      <div class="audience1">
        <h4>Who is Your Product's Value Add?</h4>
        <h3>{{valueAdd}}</h3>
      </div>
    </div>

    <div class="audience1">


    </div>
    <div class="audience1">
      <label for="valueAdd">What Is Your Value Add:</label>
      <input type="text" name="valueAdd" value="{{valueAdd}}" placeholder="value add...">
    </div>

    <div class="competition">
      <div class="competition1">
        <h4>What is Your Current Compeition?</h4>
        <h3>{{competition}}</h3>
      </div>
      <div class="competition1">
        <h4>How Does Your Product Improve on the Competition?</h4>
        <h3>{{compImprove}}</h3>
      </div>
      <div class="competition1">
        <h4>Which Technologies & Processes Will You be Using?</h4>
        <h3>{{techUsed}}</h3>
      </div>
    </div>

    <div class="challenges_resources">
      <div class="cr">
        <h4>What Challenges Might You Face?</h4>
        <h3>{{challenges}}</h3>
      </div>
      <div class="cr">
        <h4>List Any Helpful Resources Here:</h4>
        <h3>{{resources}}</h3>
      </div>
    </div>

    <div class="purpose">
      <div class="purpose1">
        <h4>What is Your Purpose for Creating <em>{{title}}</em>?</h4>
        <h3>{{purpose}}</h3>
      </div>
      <div class="purpose1">
        <h4>How do You Plan to Research for <em>{{title}}</em>?</h4>
        <h3>{{research}}</h3>
      </div>
      <div class="purpose1">
        <h4>List Any Helpful Links Here:</h4>
        <h3>{{links}}</h3>
      </div>
    </div>

    <div class="stage_date">
      <div class="sd">
        <h3>What Stage is <em>{{title}}</em> currently in?</h3>
        <h3>{{stage}}</h3>
      </div>
      <div class="sd">
        <h4>Created On:</h4>
        <h3>{{date}}</h3>
      </div>
    </div>

  </div>

  <div class="buttonsDiv">
      <button id="modalSubmit" class="modalBtn">Update</button>
    <a class="home" href="/ideas"><div>Home</div></a>
    </div>
  </div>

</form>
