<style media="screen">
  body {
    width:100%;
    background-color: rgba(79, 192, 255, .9);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<div class="wrapper">


<form class="addIdea" action="/ideas/{{id}}/{{title}}/update" method="post">
  <div class="singleViewdiv">


  <div class="titleDiv">
    <label for="title">Idea Title</label>
    <input type="text" name="title" value="{{title}}" placeholder="Enter your idea title">
  </div>

  <div class="contentDiv">
    <label class="content1" for="description"></label>
    <input lass="content1" type="text" name="description" value="{{description}}" placeholder="enter idea details">
    <label for="notes">Add Some Notes:</label>
    <input type="text" name="notes" value="{{notes}}" placeholder="enter idea notes">
  </div>

  <div class="levels_features">
    <div class="feature">
    <label for="excitement ">Idea Excitement</label>
      <select class="excitement" name="excitement">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="feature">
      <label for="difficulty ">Idea Difficulty</label>
      <select class="difficulty" name="difficulty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="feature">
      <label for="defFeatures">Definite Features:</label>
      <input type="text" name="defFeatures" value="{{defFeatures}}" placeholder="enter idea features...">
    </div>
    <div class="feature">
      <label for="posFeatures">Possible Features:</label>
      <input type="text" name="posFeatures" value="{{posFeatures}}" placeholder="enter possible features...">
    </div>
  </div>

  <div class="audience">
    <div class="audience1">
      <label for="market">What Is Your Market Or Audience:</label>
      <input type="text" name="market" value="{{market}}" placeholder="market opportunities...">
    </div>
    <div class="">
      <label for="valueAdd">What Is Your Value Add:</label>
      <input type="text" name="valueAdd" value="{{valueAdd}}" placeholder="value add...">
    </div>
  </div>

  <div class="">
    <label for="competition">What Or Who Is Your Competition:</label>
    <input type="text" name="competition" value="{{competition}}" placeholder="enter competition...">
  </div>
  <div class="">
    <label for="compImprove">How to Improve on the competition</label>
    <input type="text" name="compImprove" value="{{compImprove}}" placeholder="We are 10X faster at half the cost">
  </div>
  <div class="">
    <label for="techUsed">What Technology Are You Using?</label>
    <input type="text" name="techUsed" value="{{techUsed}}" placeholder="enter details">
  </div>
  <div class="">
    <label for="challenges">What Challneges Will You Face?</label>
    <input type="text" name="challenges" value="{{challenges}}" placeholder="enter details">
  </div>
  <div class="">
    <label for="resources">List Your Resources</label>
    <input type="text" name="resources" value="{{resources}}" placeholder="enter details">
  </div>
  <div class="">
    <label for="purpose">What Is Your Inspiration For This Idea</label>
    <input type="text" name="purpose" value="{{purpose}}" placeholder="enter details">
  </div>

  <div class="">
    <label for="research">Follow up Research</label>
    <input type="text" name="research" value="{{research}}" placeholder="enter details">
  </div>
  <div class="">
    <label for="links">Valid Links</label>
    <input type="text" name="links" value="{{links}}" placeholder="enter details">
  </div>
  <div class="">
    <label for="stage">What stage are you in the hatch?</label>
    <input type="text" placeholder="Ideation Phase" name="stage" value="{{stage}}">
  </div>

  <div>
    {{date}}
  </div>
  <button id="modalSubmit" class="modalBtn">Update</button>
  </div>
</form>

<div class="buttonsDiv">
  <a class="home" href="/ideas"><div>Home</div></a>
  </div>
</div>
