
  <!-- <link rel="stylesheet" href="../public/stylesheets/style.css"> -->

<div class="wrapper">

  <div class="singleViewdiv">
    <div class="titleDiv">
      <h1>{{title}}</h1>
    </div>

    <div class="contentDiv">
      <div class="content1">
        <h3>Description</h3>
        <h5>{{description}}</h5>
      </div>
      <div class="content1">
        <h4>Notes</h4>
        {{notes}}
      </div>
    </div>


    <div class="levels_features">
      <div class="dropDowns">
        {{excitement}}
        {{difficulty}}
      </div>
      <div class="features">
        <div class="feature">
          <h3>{{defFeatures}}</h3>
        </div>
        <div class="feature">
          <h3>{{posFeatures}}</h3>
        </div>
      </div>
    </div>

    <div class="audience">
      <div class="audience1">
        <h3>{{market}}</h3>
      </div>
      <div class="audience2">
        <h3>{{valueAdd}}</h3>
      </div>
    </div>


    <div class="competition">
      <div class="">
        <h3>{{competition}}</h3>
      </div>
      <div class="">
        <h3>{{compImprove}}</h3>
      </div>
      <div class="">
        <h3>{{techUsed}}</h3>
      </div>
    </div>

    <div class="challenges_resources">
      <div class="">
        <h3>{{challenges}}</h3>
      </div>
      <div class="">
        <h3>{{resources}}</h3>
      </div>
    </div>

    <div class="purpose">
      <div class="">
        <h3>{{purpose}}</h3>
      </div>
      <div class="">
        <h3>{{research}}</h3>
      </div>
      <div class="">
        <h3>{{links}}</h3>
      </div>
    </div>

    <div class="stage_date">
      <div class="">
        <h3>{{stage}}</h3>
      </div>
      <div class="">
        <h3>{{date}}</h3>
      </div>
    </div>
  </div>
</div>



<a href="/ideas/{{id}}/{{title}}/edit"><button type="button" name="button">Details</button></a>
<a href="/ideas/{{id}}/{{title}}/delete"><button type="button" name="button">Delete</button></a>
<a href="/ideas"><button type="button" name="button">Home</button></a>
<!-- <h1>{{title}}</h1>
<h3>{{description}}</h3>
<h3>{{difficulty}}</h3>
<h3>{{excitement}}</h3>
<h3>{{notes}}</h3>
<h3>{{defFeatures}}</h3>
<h3>{{posFeatures}}</h3>
<h3>{{market}}</h3>
<h3>{{valueAdd}}</h3> -->
