<style media="screen">
  body {
    width:100%;
    /*background-color: rgba(79, 192, 255, .6);*/
    background-color: #7681B3;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

  <div class="singleViewdiv">

    <div class="titleDiv">
      <p class="h1">{{title}}</p>
    </div>
    <div class="buttonsDiv">
      <a class="details" href="/ideas/{{id}}/{{title}}/edit"><div>Edit</div></a>
      <a class="details" href="/ideas"><div>Home</div></a>
      <a class="details" href="/ideas/{{id}}/{{title}}/delete"><div>Delete</div></a>
    </div>

    <div class="contentDiv">
      <div class="set set1">

        <div class=" b1">
          <h5><mark>Project Description:</mark></h5>
        </div>
          <div class="lilTitle">
            <h5>{{description}}</h5>
          </div>
      </div>

        <div class="set set1">
          <div class="b1">
            <h5><mark>Your Notes Here:</mark></h5>
          </div>
          <div class="theContent">
            <h5>{{notes}}</h5>
          </div>
      </div>
    </div>

    <div class="contentDiv">
      <div class="lilTitle">
        <h5><mark>Excitement Level:</mark></h5>
      </div>
      <div class="set setMain">

        <div class="theContent">
          {{excitement}}
        </div>
      </div>
      <div class="lilTitle">
        <h5><mark>Difficulty Level:</mark></h5>
      </div>
      <div class="set setMain">
        <div class="theContent">
          {{difficulty}}
        </div>
      </div>
    </div>
    <div class="contentDiv">
      <div class="set setMain">
        <div class="b1">
          <h5><mark>Definite Features:</mark></h5>
        </div>
        <div class="theContent">
          <h5>{{defFeatures}}</h5>
        </div>
      </div>
      <div class="set setMain">
        <div class="b1">
          <h5><mark>Possible Features:</mark></h5>
        </div>
        <div class="theContent">
          <h5>{{posFeatures}}</h5>
        </div>
      </div>
    </div>

    <div class="contentDiv">
      <div class="set set2">
        <div class="b1">
          <h5><mark>Who is Your Target Audience?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{market}}</h3>
        </div>
      </div>
    <div class="set set2">
        <div class="b1">
          <h5><mark>What is Your Product's Value Add?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{valueAdd}}</h3>
        </div>
      </div>
    </div>

    <div class="contentDiv">
      <div class="set set3">
        <div class="b1">
          <h5><mark>What is Your Current Compeition?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{competition}}</h3>
        </div>
      </div>
      <div class="set set3">
        <div class="b1">
          <h5><mark>How Will You Improve on the Competition?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{compImprove}}</h3>
        </div>
      </div>
      <div class="set set3">
        <div class="b1">
          <h5><mark>Which Technologies & Processes Will You be Using?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{techUsed}}</h3>
        </div>
      </div>
    </div>

    <div class="contentDiv">
      <div class="set set4">
        <div class=" b1">
          <h5><mark>What Challenges Might You Face?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{challenges}}</h3>
        </div>
      </div>
      <div class="set set4">
        <div class="b1">
          <h5><mark>List Any Helpful Resources Here:</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{resources}}</h3>
        </div>
      </div>
    </div>

    <div class="contentDiv">
      <div class="set set5">
        <div class="b1">
            <h5><mark>What is Your Purpose for Creating <em>{{title}}</em>?</mark></h5>
          </div>
        <div class="theContent">
          <h3>{{purpose}}</h3>
        </div>
      </div>
      <div class="set set5">
        <div class="b1">
          <h5><mark>How do You Plan to Research for <em>{{title}}</em>?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{research}}</h3>
        </div>
      </div>
      <div class="set set5">
        <div class="b1">
          <h5><mark>List Any Helpful Links Here:</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{links}}</h3>
        </div>
      </div>
    </div>

    <div class="contentDiv">
      <div class="set set6">
        <div class="b1 Bishes">
          <h5><mark>What Stage is <em>{{title}}</em> currently in?</mark></h5>
        </div>
        <div class="theContent">
          <h3>{{stage}}</h3>
        </div>
      </div>
      <div class="set set6">
        <div class="b1">
          <h5><mark>Created On:</mark></h5>
        </div>
      <div class="theContent date">
        <h3>{{date}}</h3>
      </div>
    </div>
  </div>

  </div>



<div class="buttonsDiv">
  <a class="details" href="/ideas/{{id}}/{{title}}/edit"><div>Edit</div></a>
  <a class="details" href="/ideas"><div>Home</div></a>
  <a class="details" href="/ideas/{{id}}/{{title}}/delete"><div>Delete</div></a>
</div>

<!-- <h1>{{title}}</h1>
<h3>{{description}}</h3>
<h3>{{difficulty}}</h3>
<h3>{{excitement}}</h3>
<h3>{{notes}}</h3>
<h3>{{defFeatures}}</h3>
<h3>{{posFeatures}}</h3>
<h3>{{market}}</h3>
<h3>{{valueAdd}}</h3> -->
