<style media="screen">
  body {
    width:100%;
    background-color: rgba(79, 192, 255, .9);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

  <div class="singleViewdiv">

    <div class="titleDiv">
      <p class="h1">{{title}}</p>
    </div>

    <div class="contentDiv">
      <div class="set1">
        <div class="content1">
          <h5>Project Description:</h5>
        </div>
        <div class="content2">
          <h5>{{description}}</h5>
        </div>
      </div>
        <div class="set1">
          <div class="content1">
            <h5>Write Your Notes Here:</h5>
          </div>
          <div class="content2">
            <h5>{{notes}}</h5>
          </div>
      </div>
    </div>

    <div class="levels_features">
      <div class="set">
        <div class="feature1">
          <h5>Excitement Level:</h5>
        </div>
        <div class="feature">
          {{excitement}}
        </div>
      </div>
      <div class="set">
        <div class="feature1">
          <h5>Difficulty Level:</h5>
        </div>
        <div class="feature">
          {{difficulty}}
        </div>
      </div>
      <div class="set">
        <div class="feature1">
          <h5>Definite Features:</h5>
        </div>
        <div class="feature">
          <h5>{{defFeatures}}</h5>
        </div>
      </div>
      <div class="set">
        <div class="feature1">
          <h5>Possible Features:</h5>
        </div>
        <div class="feature">
          <h5>{{posFeatures}}</h5>
        </div>
      </div>
    </div>

    <div class="audiences">
      <div class="set2">
        <div class="audience">
          <h5>Who is Your Target Audience?</h5>
        </div>
        <div class="audience1">
          <h3>{{market}}</h3>
        </div>
      </div>
    <div class="set2">
        <div class="audence">
          <h5>Who is Your Product's Value Add?</h5>
        </div>
        <div class="audience1">
          <h3>{{valueAdd}}</h3>
        </div>
      </div>
    </div>

    <div class="competition">
      <div class="set3">
        <div class="competition2">
          <h5>What is Your Current Compeition?</h5>
        </div>
        <div class="competition1">
          <h3>{{competition}}</h3>
        </div>
      </div>
      <div class="set3">
        <div class="competition2">
          <h5>How Does Your Product Improve on the Competition?</h5>
        </div>
        <div class="competition1">
          <h3>{{compImprove}}</h3>
        </div>
      </div>
      <div class="set3">
        <div class="competition2">
          <h5>Which Technologies & Processes Will You be Using?</h5>
        </div>
        <div class="competition1">
          <h3>{{techUsed}}</h3>
        </div>
      </div>
    </div>

    <div class="challenges_resources">
      <div class="set4">
        <div class="cr1">
          <h5>What Challenges Might You Face?</h5>
        </div>
        <div class="cr">
          <h3>{{challenges}}</h3>
        </div>
      </div>
      <div class="set4">
        <div class="cr1">
          <h5>List Any Helpful Resources Here:</h5>
        </div>
        <div class="cr">
          <h3>{{resources}}</h3>
        </div>
      </div>
    </div>

    <div class="purpose">
      <div class="set5">
        <div class="purpose">
            <h5>What is Your Purpose for Creating <em>{{title}}</em>?</h5>
          </div>
        <div class="purpose1">
          <h3>{{purpose}}</h3>
        </div>
      </div>
      <div class="set5">
        <div class="purpose">
          <h5>How do You Plan to Research for <em>{{title}}</em>?</h5>
        </div>
        <div class="purpose1">
          <h3>{{research}}</h3>
        </div>
      </div>
      <div class="set5">
        <div class="purpose">
          <h5>List Any Helpful Links Here:</h5>
        </div>
        <div class="purpose1">
          <h3>{{links}}</h3>
        </div>
      </div>
    </div>

    <div class="stage_date">
      <div class="set6">
        <div class="sd1">
          <h5>What Stage is <em>{{title}}</em> currently in?</h5>
        </div>
      </div>
      <div class="sd">
        <h3>{{stage}}</h3>
      </div>
      <div class="set6">
        <div class="sd1">
          <h5>Created On:</h5>
        </div>
      <div class="sd">
        <h3>{{date}}</h3>
        </div>
      </div>
    </div>

  </div>



<div class="buttonsDiv">
  <a class="details" href="/ideas/{{id}}/{{title}}/edit"><div>Details</div></a>
  <a class="home" href="/ideas"><div>Home</div></a>
  <a class="delete" href="/ideas/{{id}}/{{title}}/delete"><div>Delete</div></a>
</div>

<!-- <h1>{{title}}</h1>
<h3>{{description}}</h3>
<h3>{{difficulty}}</h3>
<h3>{{excitement}}</h3>
<h3>{{notes}}</h3>
<h3>{{defFeatures}}</h3>
<h3>{{posFeatures}}</h3>
<h3>{{market}}</h3>
<h3>{{valueAdd}}</h3> -->
