


<h1>{{title}}</h1>
<h3>{{description}}</h3>
<h3>{{difficulty}}</h3>
<h3>{{excitement}}</h3>
<h3>{{notes}}</h3>
<h3>{{defFeatures}}</h3>
<h3>{{posFeatures}}</h3>
<h3>{{market}}</h3>
<h3>{{valueAdd}}</h3>
<h3>{{competition}}</h3>
<h3>{{compImprove}}</h3>
<h3>{{techUsed}}</h3>
<h3>{{challenges}}</h3>
<h3>{{resources}}</h3>
<h3>{{purpose}}</h3>
<h3>{{research}}</h3>
<h3>{{links}}</h3>
<h3>{{stage}}</h3>
<h3>{{date}}</h3>



<a href="/ideas/{{id}}/{{title}}/edit"><button type="button" name="button">Details</button></a>
<a href="/ideas/{{id}}/{{title}}/delete"><button type="button" name="button">Delete</button></a>
<a href="/ideas"><button type="button" name="button">Home</button></a>
